<br>
<a href="/"><strong>🃏Ir a la página de Inicio 🃏</strong></a>
<br>
<a href="/articulos/"><strong>🃏Ir a la página de Artículos🃏</strong></a>
<hr>

<footer>
      <section class="row">
      <article class="col-12">
        <h2 class="text-center"><i>Wiki</i> basada en</h2>
      </article>
      <article class="col-12 col-md-6">
        <img
          class="img-fluid w-75"
          src="/img/lor-logo.png" alt="Logo de Legends of Runeterra">
      </article>
      <article class="col-12 col-md-6">
        <img class="img-fluid w-75" src="/img/league-logo.webp" alt="Logo de League of Legends">
      </article>
      <hr>
      <small class="center">🃏Proyecto final para la clase de Programación 1 de 
        <a href="https://jonmircha.com/" target=”_blank” ><b>Jonathan MirCha</b></a> hecho con 
        <a href="https://www.11ty.dev" target=”_blank” ><b><i>11ty</i></b></a> y 
        <a href="https://getbootstrap.com/" target=”_blank” ><b><i>Bootstrap</i></b></a>.🃏</small>
</footer>