---
layout: layout-page.njk
title: Acerca del Proyecto
description: Encuentra información acerca del creador del proyecto, su propósito y el tema de la wiki.
---

<h1>{{ title }}</h1>

<p>
  <h3 class="text-justify">
    Esta <i>wiki</i> fue creada por Sebastián Padilla Pardo como parte de un proyecto final de la clase de Programación I del profesor Jonathan MirCha.
    <br>
    <br>
    Consiste de una página de inicio, una página de acerca, veinte artículos y un buscador funcional. El tema de la <i>wiki</i> es acerca de <i>Path of Champions</i>, un modo de juego solo del juego de cartas en línea <i>Legends of Runeterra</i>, basado en el mundo de <i>League of Legends</i>.
    <br>
    <br>
    Los artículos que se encuentran en la página son los siguientes:
    <ol>
      <li><a href="">Actualizaciones</a></li>
      <li><a href="">Aventuras</a></li>
      <li><a href="">Divisas</a></li>
      <li><a href="">Encuentros</a></li>
      <li><a href="">Misiones</a></li>
      <li><a href="">Nivel de Leyenda</a></li>
      <li><a href="">Palabras Clave</a></li>
      <li><a href="">Poderes</a></li>
      <li><a href="">Recompenzas</a></li>
      <li><a href="">Reliquias</a></li>
      <li><a href="">Semanales y Mensuales</a></li>
      <li><a href="">Campeones:</a>
        <ol style="list">
          <li><a href="">Annie</a></li>
          <li><a href="">Aurelion Sol</a></li>
          <li><a href="">Diana</a></li>
          <li><a href="">Jhin</a></li>
          <li><a href="">Jinx</a></li>
          <li><a href="">LeBlanc</a></li>
          <li><a href="">Volibear</a></li>
          <li><a href="">Yasuo</a></li>
        </ol>
      </li>
    </ol>
    Así dando un total de 20 artículos que explorar a través de esta página o el buscador.
  </h3>
</p>

<img src="/img/poc-1.webp" class="img-fluid" alt="Póster promocional de Path of Champions">
