---
layout: layout-page.njk
title: Acerca del Proyecto
description: Encuentra información acerca del creador del proyecto, su propósito y el tema de la wiki.
---

<h1>{{ title }}</h1>

<p class="container">
  <h3 class="text-justify">
    Esta <i>wiki</i> fue creada por Sebastián Padilla Pardo como parte de un proyecto final de la clase de Programación I del profesor Jonathan MirCha.
    <br>
    <br>
    Consiste de una página de inicio, una página de acerca, veinte artículos y un buscador funcional. El tema de la <i>wiki</i> es acerca de <i>Path of Champions</i>, un modo de juego solo del juego de cartas en línea <i>Legends of Runeterra</i>, basado en el mundo de <i>League of Legends</i>.
    <br>
    <br>
    Los artículos que se encuentran en la página son los siguientes:
    <ol>
      <li>
        <a href="/articulo-actualizaciones">Actualizaciones</a>
      </li>
      <li>
        <a href="/articulo-aventuras">Aventuras</a>
      </li>
      <li>
        <a href="/articulo-divisas">Divisas</a>
      </li>
      <li>
        <a href="/articulo-encuentros">Encuentros</a>
      </li>
      <li>
        <a href="/articulo-misiones">Misiones</a>
      </li>
      <li>
        <a href="/articulo-nivel-leyenda">Nivel de Leyenda</a>
      </li>
      <li>
        <a href="/articulo-palabras-clave">Palabras Clave</a>
      </li>
      <li>
        <a href="/articulo-poderes">Poderes</a>
      </li>
      <li>
        <a href="/articulo-recompensas">Recompensas</a>
      </li>
      <li>
        <a href="/articulo-reliquias">Reliquias</a>
      </li>
      <li>
        <a href="/articulo-semanales-mensuales">Aventuras Semanales y Mensuales</a>
      </li>
      <li>
        <a href="/articulo-campeones">Campeones:</a>
        <ol style="list">
          <li>
            <a href="/articulo-z-annie">Annie</a>
          </li>
          <li>
            <a href="/articulo-z-aurelion-sol">Aurelion Sol</a>
          </li>
          <li>
            <a href="/articulo-z-diana">Diana</a>
          </li>
          <li>
            <a href="/articulo-z-jhin">Jhin</a>
          </li>
          <li>
            <a href="/articulo-z-jinx">Jinx</a>
          </li>
          <li>
            <a href="/articulo-z-leblanc">LeBlanc</a>
          </li>
          <li>
            <a href="/articulo-z-volibear">Volibear</a>
          </li>
          <li>
            <a href="/articulo-z-yasuo">Yasuo</a>
          </li>
        </ol>
      </li>
    </ol>
    Así dando un total de 20 artículos que explorar a través de esta página o el buscador.
  </h3>
</p>
<hr>
<h3>
  <p>
    Todas las herramientas utilizadas para la creación de ésta página:
  </p>
  <ul>
    {% for link in site.linksDoc %}
      <li>
        <a href="{{ link.url }}" target="_blank">{{ link.text | safe }}</a>
      </li>
    {% endfor %}
  </ul>
  <p>
  La página utilizada para la creación del buscador:
  <ul>
      <li>
        <a href="https://rknight.me/blog/using-pagefind-with-eleventy-for-search/" target="_blank">PageFind, guía por Robb Knight</a>
      </li>
    </ul>
  </p>
  <img src="/img/poc-1.webp" class="img-fluid w-100" alt="Póster promocional de Path of Champions">
</h3>