---
layout: layout-page.njk
title: Path of Champions Wiki
description: Página estilo wiki acerca de Path of Champions, donde puedes ver desde cómo empezar hasta las mejores estrategias.
---

<h1>{{ title }}</h1>
<div class="clearfix">
  <img src="/img/wiki-1.webp" class="col-md-6 float-md-end mb-3 ms-md-3" alt="Póster de la wiki.">
<article class="text-left">
  <h1>Introducción a <i>Path of Champions</i></h1>
  <p>
  <strong><i>Path of Champions</i></strong> es una emocionante modalidad de juego dentro del universo de <strong><i>Legends of Runeterra</i></strong>, el juego de cartas digital desarrollado por <i>Riot Games</i>. En este modo, los jugadores emprenden <a href="/articulo-aventuras">aventuras</a> con sus <a href="/articulo-constelaciones-campeones">campeones</a> favoritos, enfrentándose a una serie de desafíos únicos, enemigos poderosos y obteniendo <a href="/articulo-recompensas">recompensas</a> a medida que avanzan. <i>Path of Champions</i> combina la estrategia de los juegos de cartas con elementos de juegos de rol (RPG) y juegos de <i>roguelike</i>, ofreciendo una experiencia de juego rica y envolvente que se destaca por su narrativa profunda y su jugabilidad dinámica.
  </p>
  <br>
  <h2>Concepto y Objetivo</h2>
  <p>El objetivo principal en <i>Path of Champions</i> es guiar a tu campeón a través de una serie de <a href="/articulo-misiones">misiones</a> y <a href="/articulo-encuentros">encuentros</a>, derrotando enemigos, capturando objetivos y completando desafíos para progresar en la historia. Cada campaña está diseñada en torno a la historia y características del campeón seleccionado, lo que permite a los jugadores experimentar el universo de Runeterra desde diferentes perspectivas y estilos de juego.</p>
  <p>Los jugadores deben construir y mejorar sus mazos a lo largo de su <a href="/articulo-aventuras">aventura</a>, utilizando cartas y habilidades que se obtienen como <a href="/articulo-recompensas">recompensas</a> por completar <a href="/articulo-misiones">misiones</a> y derrotar enemigos. A medida que avanzan, los jugadores tienen la oportunidad de tomar decisiones estratégicas que influirán en el curso de la campaña y en las <a href="/articulo-recompensas">recompensas</a> que recibirán.</p>
  <br>
  <h2>Campeones y Habilidades</h2>
  <p>Uno de los aspectos más destacados de <i>Path of Champions</i> es la variedad de <a href="/articulo-constelaciones-campeones">campeones</a> disponibles. Cada campeón tiene habilidades únicas y un conjunto de cartas específico que refleja su estilo de juego y su lore en el universo de <i>Runeterra</i>. A medida que los jugadores completan <a href="/articulo-misiones">misiones</a> y enfrentan desafíos, pueden mejorar las habilidades de sus <a href="/articulo-constelaciones-campeones">campeones</a> y desbloquear nuevas cartas que se integran en su mazo.</p>
  <p>Cada campeón tiene una progresión de habilidades que los jugadores pueden mejorar a medida que avanzan en la campaña. Estas mejoras permiten adaptar el campeón a diferentes estilos de juego y estrategias, aumentando la rejugabilidad y la profundidad del juego.</p>
  <br>
  <h2>Progresión y Recompensas</h2>
  <p>La progresión en <i>Path of Champions</i> se basa en un sistema de niveles y <a href="/articulo-recompensas">recompensas</a> que incentiva a los jugadores a completar <a href="/articulo-misiones">misiones</a> y desafíos. A medida que los <a href="/articulo-constelaciones-campeones">campeones</a> ganan experiencia y suben de nivel, los jugadores pueden desbloquear nuevas habilidades, mejorar las existentes y obtener mejoras para cartas para su mazo lo que vuelve el <a href="/articulo-poderes">poder</a> del campeón aún mayor.</p>
  <h3>Tipos de Recompensas</h3>
  <ul>
    <li><strong>Cartas Nuevas</strong>: Los jugadores pueden obtener cartas nuevas que se añaden a su mazo, proporcionando nuevas opciones tácticas y estratégicas.</li>
    <li><strong>Mejoras de Habilidades</strong>: Los puntos de habilidad ganados al subir de nivel se pueden utilizar para mejorar las habilidades de los <a href="/articulo-constelaciones-campeones">campeones</a>, aumentando su efectividad y añadiendo nuevos efectos.</li>
    <li><strong>Monedas y Recursos</strong>: Utilizados para comprar mejoras y cartas adicionales, las monedas y otros recursos se ganan al completar <a href="/articulo-misiones">misiones</a> y derrotar enemigos.</li>
    <li><strong>Objetos Especiales</strong>: Algunos <a href="/articulo-encuentros">encuentros</a> y <a href="/articulo-misiones">misiones</a> otorgan objetos especiales que proporcionan bonificaciones únicas y ventajas estratégicas en el juego.</li>
  </ul>
  <br>
  <h2>Misiones y Objetivos</h2>
  <p>Las misiones en <i>Path of Champions</i> son variadas y desafiantes, diseñadas para mantener a los jugadores comprometidos y entretenidos a lo largo de su <a href="/articulo-aventuras">aventura</a>. Las <a href="/articulo-misiones">misiones</a> principales avanzan la narrativa del campeón y están complementadas por objetivos secundarios y desafíos opcionales que ofrecen <a href="/articulo-recompensas">recompensas</a> adicionales.</p>
  <h3>Ejemplos de Misiones y Objetivos</h3>
  <ul>
    <li><strong>Encuentros de Combate</strong>: Batallas contra hordas de enemigos que requieren estrategia y planificación para ser superadas.</li>
    <li><strong><a href="/articulo-semanales-mensuales">Semanales</a></strong>: Objetivos específicos en donde cambian las habilidades y hay modificadores para mantener las cosas más interesantes.</li>
    <li><strong>Completar campañas con <a href="/articulo-constelaciones-campeones">campeones</a> de diferentes regiones</strong>: <a href="/articulo-misiones">misiones</a> que implican la exploración de regiones con <a href="/articulo-constelaciones-campeones">campeones</a> de diversos fondos para alentar al jugador a jugar de manera variada mientras obtiene recompenzas.</li>
  </ul>
  <br>
  <h2>Estrategias y Tácticas</h2>
  <p>La estrategia en <i>Path of Champions</i> es fundamental para el éxito. Los jugadores deben pensar cuidadosamente en la construcción de su mazo, la mejora de las habilidades de su campeón y la gestión de recursos. La coordinación y el entendimiento de cómo opera cada campeón es fundamental para <a href="/articulo-poderes">poder</a> sacar el mayor provecho a su mazo y a su manera de jugar.</p>
  <br>
  <h3>Estrategias Clave</h3>
  <ul>
    <li><strong>Gestión de Recursos</strong>: Administrar eficientemente las monedas y otros recursos para obtener mejoras y cartas en momentos críticos.</li>
    <li><strong>Adaptación y Flexibilidad</strong>: Ser capaz de adaptarse a diferentes situaciones y ajustar la estrategia según la composición y tácticas de la baraja enemiga.</li>
  </ul>
  <br>
  <h2>Desafíos Mensuales</h2>
  <p><i>Path of Champions</i> también ofrece desafíos mensuales, donde los jugadores tienen que enfrentarse a desafíos cada vez más difíciles. La gestión de pesonajes ahora es muy importante, porque solo puedes usar a un campeón hasta 3 veces (pierdas o ganes) antes de bloquear su uso. Es necesario un grande arsenal de <a href="/articulo-constelaciones-campeones">campeones</a> de buen nivel para <a href="/articulo-poderes">poder</a> enfrentar el desafío mensual.</p>
</article>
